.buy-it-button {
  font-family: 'Passion One', cursive;
  color: white;
  font-size: 18px;
  border: none;
  width: 5em;
  height: 2em;
  border-radius: 50px;
  margin-top: 4.75em;
  background-color: #323031;
}

.featured-comic {
  display: flex;
  justify-content: space-around;
  width: 45vw;
  height: 90vh;
  box-sizing: border-box;
  background-color: #DB3A34;
  color: #FFFFFF;
}

.left-container {
  display: flex;
  flex-direction: column;
  width: 11em;
  margin-left: 1em;
  height: 100vh;
}

.right-container {
  width: 15em;
  margin-left: 1em;
  justify-content: center;
  margin-right: 1em;
}

.left-container,
.right-container {
  margin-top: 1em;
}

.description {
  overflow-wrap: break-word;

}

.featured-title {
  font-family: 'Passion One', cursive;
  font-size: 15px;
  letter-spacing: 0.5px;
}

.info-container {
  margin-top: 9em;
}

.title,
.buy-it-button {
  margin-left: 5px;
}

.featured-image {
  margin-top: 1em;
  margin-bottom: 1.5em;
  width: 250px;
  height: 375px;
}

h3 {
  font-family: 'Passion One', cursive;
  font-size: 30px;
}

@media screen and (min-width: 426px) and (max-width: 975px) {
  .featured-comic {
    width: 100%;
  }

  .buy-it-button {
    margin-top: 0px;
  }

  .right-container {
    width: 30em;
  }

  .featured-image {
    margin-left: 7em;
  }

}
@media only screen and (max-width: 425px) {
}
