.buy-it-button {
  color: white;
  border: none;
  width: 5em;
  height: 2em;
}

.featured-comic {
  display: flex;
  text-align: center;
  width: 40vw;
  height: 85vh;
  grid-column: 2;
  box-sizing: border-box;
  background-color: #A30115;
  color: white;
}

.featured-image {
  width: 250px;
  height: 375px;
}

h3 {
  font-family: 'Alfa Slab One', cursive;
}