main {
  display: flex;
  flex-direction: column;
}

.comics-container {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  width: 55vw;
  height: 80vh;
  overflow-y: scroll;
  background-color: #FFFFFF;
  margin-left: 4em;
  margin-top: 1em;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #323031;
  border-radius: 50px;
  color: #FFFFFF;
  width: 14em;
  height: 3em;
  margin-left: 2em;
  margin-top: 2em;
}

.top-header,
.list-header {
  font-size: 28px;
  letter-spacing: 0.9px;
}

.list-header {
  font-size: 20px;
}