.comics-container {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  width: 75vw;
}

main {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 701px) and (max-width: 830px) {
  .comics-container {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (min-width: 426px) and (max-width: 700px) {
  .comics-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (max-width: 425px) {
  .comics-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
