.comic-details {
  display: flex;
  flex-direction: column;
}

.details-image {
  width: 275px;
  height: 400px;
  align-self: center
}

.details-title {
  font-family: 'Passion One', 'cursive';
}

.comic-author {
  text-decoration: underline;
}

