nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFC857;
  height: 15vw;
}

.icon {
  height: 8vw;
  width: 8vw;
  margin-left: 3vw;
}

.reading-list-header,
.fas {
  color:#323031
}

.fa-plus {
  color: #DB3A34;
}

.link-container {
  display: flex;
  justify-content: space-around;
  align-self: flex-start;
  width: 18em;
  margin-top: 0.5em;
}

.nav-icon-container {
  display: flex;
  align-items: center;
}
.fa-book-open,
.fa-home,
.fa-book-open {
  margin-right: 0.30em;
}

.icon:hover {
  transition: 2s;
  transform: rotate(360deg);
}

@keyframes img {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (min-width: 701px) and (max-width: 974px) {
  .fa-book-open,
  .fa-home,
  .fa-book-open {
    margin-left: 2vw;
  }

  .link-container {
    margin-right: 7vw;
    width: 50vw;
  }
}
