.comic-card {
  box-sizing: border-box;
  border: 3px solid #008080;
  padding: 10px;
  height: 20rem;
  width: 12rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.comic-image {
  height: 15rem;
  width: 10rem;
}

.title {
  font-size: 1.5vh;
}
