.comic-card {
  box-sizing: border-box;
  padding: 10px;
  height: 22rem;
  width: 11rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: stretch; */
  background-color: #FFFFFF;
  text-align: center;
}

.comic-image {
  height: 15rem;
  width: 10rem;
}

.comic-title {
  font-family: 'Passion One', cursive;
  font-size: 15px;
  letter-spacing: 1px;
}

.reading-list {
  font-size: 13px;
  margin-left: 0.5em;
  margin-right: 1.75em;
}

.comic-title,
.reading-list {
  color: #323031;
}

.plus-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12em;
  height: 1em;
}

